
@import url(https://fonts.bunny.net/css?family=roboto:300);

.profiles{
  --size: 200px;
  --img-clip: "M 0 -50 L 200 -50 L 200 150 C 100 150 0 250 0 150 Z"; /* unfortunatly it isn't possible (as far as I know) to use custom properties in clip paths */
  --img-shadow: drop-shadow(5px 5px 2px rgba(0 0 0 / 0.5));
  --name-txt-clr: #EEE;
  --bg-clr: steelblue;  /* only displayed if no background image defined */
  --bg-blur: 0;         /* background image default blur */
  --bg-blur-hover: 20px; /* background image blur on hover */
  
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols,1),var(--size));
  gap: 2rem;
  margin: 20vh auto;
  width: fit-content;
}
@media (min-width: 500px){
  .profiles{
    --grid-cols: 2 ;
  }
}
@media (min-width: 860px){
  .profiles{
    --grid-cols: 4 ;
  }
}
.avatar{
  position: relative;
  width: var(--size);
  height: var(--size); /* for older browsers */
  aspect-ratio: 1;
}
.avatar-img {
  clip-path: path(var(--img-clip));
}

.avatar-img::before{
  content: '';
  position: absolute;
  display: blocl;
  inset: 50% 0 0 0;
  z-index: -1;
  border-radius: 20px;
  background-color: var(--bg-clr); /* fallback if image not defined as custom property */
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  filter: blur(var(--bg-blur));
  transition: filter 300ms ease-in-out;
}
.avatar-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 300ms, filter 300ms;
  transform-origin: bottom;
  scale: var(--img-scale, .9);
  filter: var(--img-shadow);  
}

.avatar > p{
  font-size: .9rem;
  color: var(--name-txt-clr);
  position: absolute;
  bottom: .5rem;
  right: 0;
  translate: 0 var(--name-y,-50px);
  opacity: var(--name-opacity,0);
  z-index: -1;
  transition-name: translate, opacity;
  transition-delay: 150ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8), ease-in-out;
}

/* all hover effects as custom properties */
.avatar:hover{
  --img-scale: 1.1;
  --img-shadow: drop-shadow(10px 15px 4px rgba(0 0 0 / 0.5));
  --name-y: 0;
  --name-opacity: 1;
  --bg-blur: var(--bg-blur-hover);
}


/* general styling not related to this demo */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-bg: #222;
  --clr-primary: #f5f5f5;
  --clr-secondary: #075985;
  --clr-cta: rgb(175, 208, 84);
}
html {
  background-color: var(--clr-bg);
  font-family: system-ui;
  font-family: system-ui;
}

body {
  min-height: 100svh;
  /*
  display: grid;
  place-content: center;
*/
  gap: 1.5rem;
  /*font-size: clamp(0.9rem, 2.5vw,1.4rem);*/
  color: var(--clr-primary);
  padding: 1rem;
  background-image: radial-gradient(circle, rgba(175, 208, 84, .25) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 40px 40px;
  background-attachment:fixed;
}
h1 {
  font-size: clamp(1rem, 2.5vw + 0.25rem, 1.2rem);
  font-weight: 500;
  line-height: 1.6;
}
code,
pre {
  display: inline-block;
  color: #38bdf8;
  border: 1px solid hsl(from var(--clr-primary) h s 50% / 0.5);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
pre {
  white-space: pre-wrap;
}
em {
  font-size: 0.8rem;
}

.note{
  font-size: 0.8rem;
  font-style: italic;
}